@page
@model AccessDeniedModel
@{
    ViewData["Title"] = SharedLocalizer["Access denied"];
}

<h1 class="headline-1">
    @ViewData["Title"]
</h1>

<p>@SharedLocalizer["You do not have access to this page."]</p>