@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = AuthenticationLocalizer["Please check your inbox"];
}

<h1 class="headline-1">@ViewData["Title"]</h1>

<p>
    @SharedLocalizer["We've sent you a link to reset your password. Please check your email to reset your password."]
</p>

<p class="text-muted text-center mt-8">
    <a asp-page="./Login" class="link">@AuthenticationLocalizer["Back to Sign in"]</a>
</p>