@import "./components/_index.scss";

// These have to be at the very start of the file after any @import statements
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(../fonts/material-symbols/MaterialSymbolsOutlined.woff2) format('woff');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

body {
    @apply bg-grey-50
    dark:bg-gray-900
    p-0 
    m-0
    h-full
    text-gray-900 
    dark:text-white 
}