<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Kulzer - @ViewData["Title"]</title>
    
<link rel="stylesheet" href="~/lib/flowbite/flowbite.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/styles/app.css" asp-append-version="true" />
<link rel="stylesheet" href="~/KDC.Main.styles.css" asp-append-version="true" />
</head>