<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">

<partial name="_GlobalHeaderPartial" />

<body>

    <div class="antialiased">
        <partial name="_NavBar" />

        <main class="p-4 h-auto pt-20 text-black dark:text-white">
            @RenderBody()
        </main>
    </div>

    <partial name="_GlobalScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>