<nav
    class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
    <div class="flex flex-wrap justify-between items-center">
        <div class="flex justify-start items-center">
            <a href="/" class="flex items-center justify-between mr-4">
                <img src="~/img/logo.svg" class="mr-3 h-8 dark:hidden" alt="Kulzer Logo" />
                <img src="~/img/logo_inverted.svg" class="mr-3 h-8 light:hidden" alt="Kulzer Logo" />
                @* <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Digital
                    Core</span> *@
            </a>
        </div>
        <div class="flex items-center lg:order-2">
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>